openapi: 3.1.0
info:
  title: vapid.party API
  version: 2.1.0
  description: |
    Cloudflare Web Push relay with public XMTP-aware registration endpoints for Converge.

    Success responses are wrapped in `{ success, data }`.
    Error responses are wrapped in `{ success: false, error, code, details? }`.

    Converge XMTP registration endpoints are public and must not require a client API key.
servers:
  - url: https://vapid.party
  - url: http://localhost:8787
tags:
  - name: Health
  - name: Converge XMTP
  - name: Apps
  - name: Generic Push
paths:
  /api/health:
    get:
      tags: [Health]
      summary: Health check
      responses:
        "200":
          description: OK
  /api/xmtp/vapid-public-key:
    get:
      tags: [Converge XMTP]
      summary: Get Converge public VAPID key
      description: Public endpoint. Does not require a client secret or X-API-Key.
      security: []
      responses:
        "200":
          description: Public VAPID key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VapidPublicKeyResponse"
        "503":
          description: Converge VAPID app is not configured
  /api/xmtp/subscriptions:
    post:
      tags: [Converge XMTP]
      summary: Register or update a Converge XMTP push subscription
      description: |
        Public endpoint. Idempotent upsert keyed by push endpoint, inboxId, and installationId.
        The request must include topic/HMAC metadata and privacy-preserving preferences.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XmtpSubscriptionRequest"
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XmtpSubscriptionResponse"
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XmtpSubscriptionResponse"
        "422":
          description: Validation error
    delete:
      tags: [Converge XMTP]
      summary: Disable a Converge XMTP push subscription
      description: Public best-effort unsubscribe/update endpoint.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XmtpDeleteSubscriptionRequest"
      responses:
        "200":
          description: Disabled or already absent
  /api/internal/xmtp/deliveries:
    post:
      tags: [Converge XMTP]
      summary: Accept an official XMTP notification-server HTTP delivery
      description: |
        Internal endpoint for example-notification-server-go HttpDelivery.
        Encrypted message bytes are validated for shape and discarded. The
        response is always HTTP 200 after successful queue or deduplication.
      security:
        - InternalBearerAuth: []
        - InternalTokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XmtpDeliveryRequest"
      responses:
        "200":
          description: Queued, skipped by should_push, or already processed
        "401":
          description: Missing or invalid internal ingest token
        "422":
          description: Validation error
  /api/register-app:
    post:
      tags: [Apps]
      summary: Register a generic push app
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterAppRequest"
      responses:
        "201":
          description: Created
  /api/apps:
    get:
      tags: [Apps]
      summary: List wallet-owned apps
      security:
        - BearerAuth: []
      responses:
        "200":
          description: OK
  /api/apps/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Apps]
      summary: Get an app
      security:
        - BearerAuth: []
      responses:
        "200":
          description: OK
    put:
      tags: [Apps]
      summary: Update an app
      security:
        - BearerAuth: []
      responses:
        "200":
          description: OK
    delete:
      tags: [Apps]
      summary: Delete an app
      security:
        - BearerAuth: []
      responses:
        "200":
          description: OK
  /api/apps/{id}/regenerate-key:
    post:
      tags: [Apps]
      summary: Regenerate a generic app API key
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/vapid/public-key:
    get:
      tags: [Generic Push]
      summary: Get generic app public VAPID key
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Public VAPID key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VapidPublicKeyResponse"
  /api/subscribe:
    post:
      tags: [Generic Push]
      summary: Register a generic Web Push subscription
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubscribeRequest"
      responses:
        "201":
          description: Created or updated
  /api/send:
    post:
      tags: [Generic Push]
      summary: Queue generic Web Push notifications
      description: Actual delivery occurs in the Cloudflare Queue consumer.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendNotificationRequest"
      responses:
        "202":
          description: Queued
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
    InternalBearerAuth:
      type: http
      scheme: bearer
      description: INTERNAL_INGEST_TOKEN used by the official HTTP delivery adapter.
    InternalTokenAuth:
      type: apiKey
      in: header
      name: X-Internal-Token
      description: Compatibility header for existing deployments.
  schemas:
    ApiEnvelope:
      type: object
      required: [success]
      properties:
        success:
          type: boolean
        data: {}
        error:
          type: string
        code:
          type: string
        details: {}
    VapidPublicKeyResponse:
      allOf:
        - $ref: "#/components/schemas/ApiEnvelope"
        - type: object
          properties:
            data:
              type: object
              required: [publicKey]
              properties:
                publicKey:
                  type: string
    PushSubscription:
      type: object
      required: [endpoint, keys]
      additionalProperties: false
      properties:
        endpoint:
          type: string
          format: uri
        keys:
          type: object
          required: [p256dh, auth]
          additionalProperties: false
          properties:
            p256dh:
              type: string
            auth:
              type: string
        expirationTime:
          type: integer
          nullable: true
    XmtpPreferences:
      type: object
      required: [minimalPayloadOnly, plaintextPreview]
      additionalProperties: false
      properties:
        minimalPayloadOnly:
          type: boolean
          const: true
        plaintextPreview:
          type: boolean
          const: false
    XmtpHmacKey:
      type: object
      required: [epoch, key]
      additionalProperties: false
      properties:
        epoch:
          type: string
          pattern: '^\d+$'
        key:
          type: string
    XmtpNestedTopic:
      type: object
      required: [topic, hmacKeys]
      additionalProperties: false
      properties:
        topic:
          type: string
          pattern: '^/xmtp/mls/1/[gw]-[0-9a-f]{64}/proto$'
        hmacKeys:
          type: array
          maxItems: 16
          items:
            $ref: "#/components/schemas/XmtpHmacKey"
      description: |
        Group topics require at least one HMAC key. Welcome topics require an
        empty array. These conditional constraints are enforced by the API.
    XmtpNestedSubscriptionRequest:
      type: object
      required: [version, app, identity, subscription, xmtp, notification, preferences, registeredAt]
      additionalProperties: false
      properties:
        version:
          type: integer
          const: 1
        app:
          type: object
          required: [id]
          additionalProperties: false
          properties:
            id:
              type: string
              const: converge.cv
            origin:
              type: string
              format: uri
        identity:
          type: object
          required: [inboxId, installationId]
          additionalProperties: false
          properties:
            inboxId:
              type: string
              pattern: '^[0-9a-f]{64}$'
            installationId:
              type: string
              pattern: '^[0-9a-f]{64}$'
            address:
              type: string
        subscription:
          $ref: "#/components/schemas/PushSubscription"
        xmtp:
          type: object
          required: [env, topics, topicSource]
          additionalProperties: false
          properties:
            env:
              type: string
              const: production
            topics:
              type: array
              minItems: 1
              maxItems: 2000
              items:
                $ref: "#/components/schemas/XmtpNestedTopic"
            topicSource:
              type: string
              const: conversations.hmacKeys
        notification:
          type: object
          required: [inboxHandle]
          additionalProperties: false
          properties:
            inboxHandle:
              type: string
              pattern: '^[A-Za-z0-9_-]{8,128}$'
        preferences:
          $ref: "#/components/schemas/XmtpPreferences"
        userAgent:
          type: string
        registeredAt:
          type: string
          format: date-time
    XmtpLegacyTopic:
      type: object
      required: [topic]
      additionalProperties: false
      properties:
        topic:
          type: string
        hmacKey:
          type: string
        hmacKeys:
          type: array
          items:
            $ref: "#/components/schemas/XmtpHmacKey"
        algorithm:
          type: string
          enum: [hmac-sha256, sha256]
        conversationId:
          type: string
    XmtpLegacySubscriptionRequest:
      type: object
      required: [inboxId, installationId, preferences]
      additionalProperties: false
      properties:
        subscription:
          $ref: "#/components/schemas/PushSubscription"
        endpoint:
          type: string
          format: uri
        keys:
          type: object
        expirationTime:
          type: integer
          nullable: true
        inboxId:
          type: string
        installationId:
          type: string
        address:
          type: string
        inboxHandle:
          type: string
        topics:
          type: array
          items:
            $ref: "#/components/schemas/XmtpLegacyTopic"
        hmacKeys:
          description: Legacy topic-to-key map or array of legacy topic objects.
        preferences:
          $ref: "#/components/schemas/XmtpPreferences"
    XmtpSubscriptionRequest:
      oneOf:
        - $ref: "#/components/schemas/XmtpNestedSubscriptionRequest"
        - $ref: "#/components/schemas/XmtpLegacySubscriptionRequest"
    XmtpSubscriptionResponse:
      allOf:
        - $ref: "#/components/schemas/ApiEnvelope"
        - type: object
          properties:
            data:
              type: object
              required: [subscriptionId, identityId, topicsRegistered, hmacKeysRegistered, created]
              properties:
                subscriptionId:
                  type: string
                identityId:
                  type: string
                topicsRegistered:
                  type: integer
                hmacKeysRegistered:
                  type: integer
                created:
                  type: boolean
    XmtpDeleteSubscriptionRequest:
      oneOf:
        - $ref: "#/components/schemas/XmtpNestedDeleteSubscriptionRequest"
        - $ref: "#/components/schemas/XmtpFlatDeleteSubscriptionRequest"
    XmtpNestedDeleteSubscriptionRequest:
      type: object
      required: [version, app, endpoint, identity, deletedAt]
      additionalProperties: false
      properties:
        version:
          type: integer
          const: 1
        app:
          type: object
          required: [id]
          additionalProperties: false
          properties:
            id:
              type: string
              const: converge.cv
            origin:
              type: string
              format: uri
        endpoint:
          type: string
          format: uri
        identity:
          type: object
          required: [inboxId, installationId]
          additionalProperties: false
          properties:
            inboxId:
              type: string
              pattern: '^[0-9a-f]{64}$'
            installationId:
              type: string
              pattern: '^[0-9a-f]{64}$'
            address:
              type: string
        deletedAt:
          type: string
          format: date-time
    XmtpFlatDeleteSubscriptionRequest:
      type: object
      required: [endpoint, inboxId, installationId]
      additionalProperties: false
      properties:
        endpoint:
          type: string
          format: uri
        inboxId:
          type: string
        installationId:
          type: string
    XmtpDeliveryRequest:
      type: object
      required: [idempotency_key, message, message_context, installation, subscription]
      additionalProperties: false
      properties:
        idempotency_key:
          type: string
        message:
          type: object
          required: [content_topic, message]
          additionalProperties: false
          properties:
            content_topic:
              type: string
            message:
              type: string
              description: Opaque encrypted envelope bytes encoded as base64; discarded by the Worker.
        message_context:
          type: object
          required: [message_type]
          additionalProperties: false
          properties:
            message_type:
              type: string
            should_push:
              type: boolean
        installation:
          type: object
          required: [id, delivery_mechanism, payload_format]
          additionalProperties: false
          properties:
            id:
              type: string
            delivery_mechanism:
              type: object
              required: [kind, token]
              additionalProperties: false
              properties:
                kind:
                  type: string
                token:
                  type: string
            payload_format:
              type: string
              enum: [unspecified, v3, v4]
        subscription:
          type: object
          required: [created_at, topic, is_silent]
          additionalProperties: false
          properties:
            created_at:
              type: string
              format: date-time
            topic:
              type: string
            is_silent:
              type: boolean
        payload_format:
          type: string
          enum: [unspecified, v3, v4]
        topicBytesB64:
          type: string
    RegisterAppRequest:
      type: object
      required: [name]
      additionalProperties: false
      properties:
        name:
          type: string
        metadata:
          type: object
    SubscribeRequest:
      allOf:
        - $ref: "#/components/schemas/PushSubscription"
        - type: object
          properties:
            userId:
              type: string
            channelId:
              type: string
            metadata:
              type: object
    SendNotificationRequest:
      type: object
      required: [payload]
      additionalProperties: false
      properties:
        payload:
          type: object
          required: [title]
          additionalProperties: false
          properties:
            title:
              type: string
            body:
              type: string
            icon:
              type: string
            badge:
              type: string
            image:
              type: string
            url:
              type: string
            data:
              type: object
            actions:
              type: array
              items:
                type: object
            tag:
              type: string
            requireInteraction:
              type: boolean
            silent:
              type: boolean
        userId:
          type: string
        channelId:
          type: string
        subscriptionIds:
          type: array
          items:
            type: string
