openapi: 3.1.0
info:
  title: vapid.party API
  version: 3.0.0
  description: |
    Cloudflare-only Web Push relay with an app-scoped XMTP listener.
    App provisioning is operator-only. Converge has a restricted public
    compatibility registration; pre-provisioned apps use X-API-Key.
servers:
  - url: https://vapid.party
  - url: http://localhost:8787
tags:
  - name: Health
  - name: Converge XMTP
  - name: App XMTP
  - name: Generic Push
paths:
  /api/health:
    get:
      tags: [Health]
      summary: Get Worker and coarse XMTP delivery readiness
      security: []
      responses:
        "200":
          description: Health response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
  /api/xmtp/vapid-public-key:
    get:
      tags: [Converge XMTP]
      summary: Get the Converge public VAPID key
      security: []
      responses:
        "200":
          description: Public VAPID key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VapidPublicKeyResponse"
        "503":
          description: Converge VAPID app is not configured
  /api/xmtp/subscriptions:
    post:
      tags: [Converge XMTP]
      summary: Register or update a Converge XMTP push subscription
      description: |
        Converge-only compatibility endpoint. It accepts only strict nested
        version 1 with app.id=converge.cv and known browser Web Push provider
        endpoints. Send X-Vapid-Party-Diagnostics: 1 to receive a bearer
        management receipt in the no-store response. Exact endpoint/key refresh
        can bootstrap a receipt; endpoint replacement requires and preserves a
        current receipt. The unsigned first claim is not XMTP ownership proof.
      security:
        - {}
        - DiagnosticBearerAuth: []
      parameters:
        - in: header
          name: X-Vapid-Party-Diagnostics
          required: false
          schema:
            type: string
            const: "1"
          description: Opt into a receipt-scoped diagnostic capability.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XmtpSubscriptionRequest"
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XmtpSubscriptionResponse"
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XmtpSubscriptionResponse"
        "422":
          description: Validation error
        "409":
          description: Existing route or endpoint capability conflict
        "413":
          description: Request body exceeds 2,000,000 bytes
        "429":
          description: Registration rate limit exceeded
    delete:
      tags: [Converge XMTP]
      summary: Disable one Converge logical XMTP registration
      description: |
        Once a management receipt exists, deletion requires it. A legacy route
        with no receipt may delete only its exact endpoint.
      security:
        - {}
        - DiagnosticBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XmtpDeleteSubscriptionRequest"
      responses:
        "200":
          description: Disabled or already absent
        "409":
          description: Current management receipt required
        "413":
          description: Request body exceeds 2,000,000 bytes
        "429":
          description: Mutation attempt rate limit exceeded
  /api/xmtp/status:
    post:
      tags: [Converge XMTP]
      summary: Inspect one private XMTP push route
      description: |
        Empty-body request scoped by a 256-bit bearer receipt. Returns only
        coarse registration coverage, route synchronization, pipeline readiness,
        and latest delivery stages. No identity, endpoint, topic, HMAC, receipt,
        or message content is returned.
      security:
        - DiagnosticBearerAuth: []
      responses:
        "200":
          description: Receipt-scoped diagnostic status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XmtpDiagnosticStatusResponse"
        "401":
          description: Missing or malformed receipt
        "404":
          description: Receipt is not active
        "429":
          description: Lookup rate limit exceeded
  /api/xmtp/status/test:
    post:
      tags: [Converge XMTP]
      summary: Queue one minimal diagnostic Web Push
      description: |
        Queues only {type:"vapid.diagnostic",testId}. A later sent status means
        provider accepted, not that the browser or OS displayed a notification.
      security:
        - DiagnosticBearerAuth: []
      responses:
        "202":
          description: Minimal diagnostic push queued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XmtpDiagnosticTestResponse"
        "401":
          description: Missing or malformed receipt
        "404":
          description: Receipt is not active
        "429":
          description: Diagnostic test rate limit exceeded
  /api/xmtp/registrations:
    post:
      tags: [App XMTP]
      summary: Register or update an app-scoped XMTP alert route
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericXmtpSubscriptionRequest"
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XmtpSubscriptionResponse"
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XmtpSubscriptionResponse"
        "401":
          description: Missing or invalid app API key
        "422":
          description: Validation error
    delete:
      tags: [App XMTP]
      summary: Disable one app-scoped XMTP alert route
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericXmtpDeleteSubscriptionRequest"
      responses:
        "200":
          description: Disabled or already absent
        "401":
          description: Missing or invalid app API key
  /api/internal/xmtp/deliveries:
    post:
      tags: [App XMTP]
      summary: Accept an authenticated XMTP listener delivery hint
      description: |
        The production Container sends the minimal version-1 shape. The previous
        official HTTP SendRequest shape remains a transitional input. XMTP
        ciphertext is never required by the minimal contract.
      security:
        - InternalBearerAuth: []
        - InternalTokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XmtpDeliveryRequest"
      responses:
        "200":
          description: Queued, skipped, or already processed
        "401":
          description: Missing or invalid internal ingest token
        "422":
          description: Validation error
  /api/vapid/public-key:
    get:
      tags: [Generic Push]
      summary: Get a pre-provisioned app's public VAPID key
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Public VAPID key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VapidPublicKeyResponse"
        "401":
          description: Missing or invalid app API key
  /api/subscribe:
    post:
      tags: [Generic Push]
      summary: Register a generic Web Push subscription
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubscribeRequest"
      responses:
        "201":
          description: Created or updated
        "401":
          description: Missing or invalid app API key
  /api/send:
    post:
      tags: [Generic Push]
      summary: Queue generic Web Push notifications
      description: HTTP 202 means queued, not delivered to a provider or browser.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendNotificationRequest"
      responses:
        "202":
          description: Queued
        "401":
          description: Missing or invalid app API key
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
    DiagnosticBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque-256-bit-capability
      description: Receipt returned by an opted-in Converge registration.
    InternalBearerAuth:
      type: http
      scheme: bearer
      description: INTERNAL_INGEST_TOKEN used by the production XMTP listener.
    InternalTokenAuth:
      type: apiKey
      in: header
      name: X-Internal-Token
      description: Transitional compatibility header for internal delivery.
  schemas:
    ApiEnvelope:
      type: object
      required: [success]
      properties:
        success:
          type: boolean
        data: {}
        error:
          type: string
        code:
          type: string
        details: {}
    HealthResponse:
      allOf:
        - $ref: "#/components/schemas/ApiEnvelope"
        - type: object
          required: [data]
          properties:
            data:
              type: object
              required: [status, runtime, timestamp, version, xmtp]
              properties:
                status:
                  type: string
                  const: healthy
                runtime:
                  type: string
                  const: cloudflare-worker
                timestamp:
                  type: string
                  format: date-time
                version:
                  type: string
                xmtp:
                  type: object
                  required: [deliveryReady, listener, bridge]
                  properties:
                    deliveryReady:
                      type: boolean
                    listener:
                      type: object
                      required: [configured, status]
                      properties:
                        configured:
                          type: boolean
                        status:
                          type: string
                          enum: [ready, not_ready, not_configured, unknown]
                        lastCheckedAt:
                          type: string
                          format: date-time
                    bridge:
                      type: object
                      required: [status, pendingRegistrationCount, failedRegistrationCount]
                      properties:
                        status:
                          type: string
                          enum: [synced, pending, failed, not_configured]
                        pendingRegistrationCount:
                          type: integer
                          minimum: 0
                        failedRegistrationCount:
                          type: integer
                          minimum: 0
                        lastSuccessfulSyncAt:
                          type: string
                          format: date-time
    VapidPublicKeyResponse:
      allOf:
        - $ref: "#/components/schemas/ApiEnvelope"
        - type: object
          required: [data]
          properties:
            data:
              type: object
              required: [publicKey]
              properties:
                publicKey:
                  type: string
    PushSubscription:
      type: object
      required: [endpoint, keys]
      additionalProperties: false
      properties:
        endpoint:
          type: string
          format: uri
          maxLength: 4096
          description: Canonical HTTPS FCM, Mozilla autopush, Apple Web Push, or WNS endpoint.
        keys:
          type: object
          required: [p256dh, auth]
          additionalProperties: false
          properties:
            p256dh:
              type: string
              maxLength: 1024
              description: Base64/base64url uncompressed P-256 public key; decodes to exactly 65 bytes.
            auth:
              type: string
              maxLength: 1024
              description: Base64/base64url Web Push authentication secret; decodes to exactly 16 bytes.
        expirationTime:
          type: [number, "null"]
    XmtpPreferences:
      type: object
      required: [minimalPayloadOnly, plaintextPreview]
      additionalProperties: false
      properties:
        minimalPayloadOnly:
          type: boolean
          const: true
        plaintextPreview:
          type: boolean
          const: false
    XmtpIdentity:
      type: object
      required: [inboxId, installationId]
      additionalProperties: false
      properties:
        inboxId:
          type: string
          pattern: '^[0-9a-f]{64}$'
        installationId:
          type: string
          pattern: '^[0-9a-f]{64}$'
        address:
          type: string
    XmtpHmacKey:
      type: object
      required: [epoch, key]
      additionalProperties: false
      properties:
        epoch:
          oneOf:
            - type: string
              pattern: '^(0|[1-9]\d{0,9})$'
              maxLength: 10
            - type: integer
              minimum: 0
              maximum: 4294967295
        key:
          type: string
          maxLength: 1024
    XmtpTopic:
      type: object
      required: [topic, hmacKeys]
      additionalProperties: false
      properties:
        topic:
          type: string
          pattern: '^/xmtp/mls/1/(g-[0-9a-f]{32}|w-[0-9a-f]{64})/proto$'
        hmacKeys:
          type: array
          maxItems: 16
          items:
            $ref: "#/components/schemas/XmtpHmacKey"
      description: Group topics require HMAC keys; welcome topics require an empty array.
    XmtpBody:
      type: object
      required: [identity, subscription, xmtp, notification, preferences, registeredAt]
      properties:
        identity:
          $ref: "#/components/schemas/XmtpIdentity"
        subscription:
          $ref: "#/components/schemas/PushSubscription"
        xmtp:
          type: object
          required: [env, topics, topicSource]
          additionalProperties: false
          properties:
            env:
              type: string
              const: production
            topics:
              type: array
              minItems: 1
              maxItems: 400
              items:
                $ref: "#/components/schemas/XmtpTopic"
              description: Topics plus all HMAC entries must total at most 800 persisted rows.
            topicSource:
              type: string
              const: conversations.hmacKeys
        notification:
          type: object
          required: [inboxHandle]
          additionalProperties: false
          properties:
            inboxHandle:
              type: string
              pattern: '^[A-Za-z0-9_-]{8,128}$'
        preferences:
          $ref: "#/components/schemas/XmtpPreferences"
        userAgent:
          type: string
        registeredAt:
          type: string
          format: date-time
    GenericXmtpSubscriptionRequest:
      allOf:
        - type: object
          required: [version]
          properties:
            version:
              type: integer
              const: 1
        - $ref: "#/components/schemas/XmtpBody"
      unevaluatedProperties: false
    XmtpNestedSubscriptionRequest:
      allOf:
        - type: object
          required: [version, app]
          properties:
            version:
              type: integer
              const: 1
            app:
              type: object
              required: [id]
              additionalProperties: false
              properties:
                id:
                  type: string
                  const: converge.cv
                origin:
                  type: string
                  format: uri
        - $ref: "#/components/schemas/XmtpBody"
      unevaluatedProperties: false
    XmtpSubscriptionRequest:
      $ref: "#/components/schemas/XmtpNestedSubscriptionRequest"
    XmtpSubscriptionResponse:
      allOf:
        - $ref: "#/components/schemas/ApiEnvelope"
        - type: object
          required: [data]
          properties:
            data:
              type: object
              required: [subscriptionId, identityId, topicsRegistered, hmacKeysRegistered, created]
              properties:
                subscriptionId:
                  type: string
                identityId:
                  type: string
                topicsRegistered:
                  type: integer
                hmacKeysRegistered:
                  type: integer
                created:
                  type: boolean
                diagnostics:
                  type: object
                  required: [receipt, statusPath, testPath]
                  additionalProperties: false
                  properties:
                    receipt:
                      type: string
                      pattern: '^[A-Za-z0-9_-]{43}$'
                    statusPath:
                      type: string
                      const: /api/xmtp/status
                    testPath:
                      type: string
                      const: /api/xmtp/status/test
    XmtpDiagnosticDeliveryStage:
      type: object
      required: [status]
      additionalProperties: false
      properties:
        status:
          type: string
          enum: [none, queued, sent, failed, expired]
        lastMatchedAt:
          type: string
          format: date-time
        queuedAt:
          type: string
          format: date-time
        lastAttemptAt:
          type: string
          format: date-time
        providerAcceptedAt:
          type: string
          format: date-time
        failureCategory:
          type: string
          enum: [subscription_expired, provider_rate_limited, provider_unavailable, provider_rejected, relay_failure]
        testId:
          type: string
    XmtpDiagnosticStatusResponse:
      allOf:
        - $ref: "#/components/schemas/ApiEnvelope"
        - type: object
          required: [data]
          properties:
            data:
              type: object
              required: [version, checkedAt, registration, route, pipeline, deliveries]
              additionalProperties: false
              properties:
                version:
                  type: integer
                  const: 1
                checkedAt:
                  type: string
                  format: date-time
                registration:
                  type: object
                  required: [status, coverage, groupTopicCount, welcomeTopicCount, hmacEpochCount, registeredAt, updatedAt]
                  properties:
                    status:
                      type: string
                      const: active
                    coverage:
                      type: string
                      enum: [complete, welcome_only, missing_welcome, empty]
                    groupTopicCount:
                      type: integer
                      minimum: 0
                    welcomeTopicCount:
                      type: integer
                      minimum: 0
                    hmacEpochCount:
                      type: integer
                      minimum: 0
                    registeredAt:
                      type: string
                      format: date-time
                    updatedAt:
                      type: string
                      format: date-time
                route:
                  type: object
                  required: [status, changePending]
                  properties:
                    status:
                      type: string
                      enum: [synced, pending, unavailable]
                    changePending:
                      type: boolean
                    updatedAt:
                      type: string
                      format: date-time
                pipeline:
                  type: object
                  required: [deliveryReady, listenerStatus, bridgeStatus]
                  properties:
                    deliveryReady:
                      type: boolean
                    listenerStatus:
                      type: string
                      enum: [ready, not_ready, not_configured, unknown]
                    bridgeStatus:
                      type: string
                      enum: [synced, pending, failed, not_configured]
                deliveries:
                  type: object
                  required: [xmtp, diagnostic]
                  properties:
                    xmtp:
                      $ref: "#/components/schemas/XmtpDiagnosticDeliveryStage"
                    diagnostic:
                      $ref: "#/components/schemas/XmtpDiagnosticDeliveryStage"
    XmtpDiagnosticTestResponse:
      allOf:
        - $ref: "#/components/schemas/ApiEnvelope"
        - type: object
          required: [data]
          properties:
            data:
              type: object
              required: [queued, testId, checkedAt]
              additionalProperties: false
              properties:
                queued:
                  type: boolean
                  const: true
                testId:
                  type: string
                checkedAt:
                  type: string
                  format: date-time
    XmtpDeleteBody:
      type: object
      required: [endpoint, identity]
      properties:
        endpoint:
          type: string
          format: uri
          maxLength: 4096
        identity:
          $ref: "#/components/schemas/XmtpIdentity"
    GenericXmtpDeleteSubscriptionRequest:
      allOf:
        - type: object
          required: [version, deletedAt]
          properties:
            version:
              type: integer
              const: 1
            deletedAt:
              type: string
              format: date-time
        - $ref: "#/components/schemas/XmtpDeleteBody"
      unevaluatedProperties: false
    XmtpNestedDeleteSubscriptionRequest:
      allOf:
        - type: object
          required: [version, app, deletedAt]
          properties:
            version:
              type: integer
              const: 1
            app:
              type: object
              required: [id]
              properties:
                id:
                  type: string
                  const: converge.cv
                origin:
                  type: string
                  format: uri
            deletedAt:
              type: string
              format: date-time
        - $ref: "#/components/schemas/XmtpDeleteBody"
      unevaluatedProperties: false
    XmtpDeleteSubscriptionRequest:
      $ref: "#/components/schemas/XmtpNestedDeleteSubscriptionRequest"
    MinimalXmtpDeliveryRequest:
      type: object
      required: [version, idempotencyKey, installationId, deliveryToken, topic, messageType, isSilent]
      additionalProperties: false
      properties:
        version:
          type: integer
          const: 1
        idempotencyKey:
          type: string
        installationId:
          type: string
        deliveryToken:
          type: string
        topic:
          type: string
        messageType:
          type: string
        shouldPush:
          type: boolean
        isSilent:
          type: boolean
    OfficialXmtpDeliveryRequest:
      type: object
      required: [idempotency_key, message, message_context, installation, subscription]
      additionalProperties: false
      properties:
        idempotency_key:
          type: string
        message:
          type: object
          required: [content_topic, message]
          properties:
            content_topic:
              type: string
            message:
              type: string
              description: Transitional opaque encrypted envelope; discarded immediately.
        message_context:
          type: object
          required: [message_type]
          properties:
            message_type:
              type: string
            should_push:
              type: boolean
        installation:
          type: object
          required: [id, delivery_mechanism, payload_format]
          properties:
            id:
              type: string
            delivery_mechanism:
              type: object
              required: [kind, token]
              properties:
                kind:
                  type: string
                token:
                  type: string
            payload_format:
              type: string
              enum: [unspecified, v3, v4]
        subscription:
          type: object
          required: [created_at, topic, is_silent]
          properties:
            created_at:
              type: string
              format: date-time
            topic:
              type: string
            is_silent:
              type: boolean
        payload_format:
          type: string
          enum: [unspecified, v3, v4]
        topicBytesB64:
          type: string
    XmtpDeliveryRequest:
      oneOf:
        - $ref: "#/components/schemas/MinimalXmtpDeliveryRequest"
        - $ref: "#/components/schemas/OfficialXmtpDeliveryRequest"
    SubscribeRequest:
      type: object
      required: [endpoint, keys]
      additionalProperties: false
      properties:
        endpoint:
          type: string
          format: uri
          maxLength: 4096
        keys:
          type: object
          required: [p256dh, auth]
          additionalProperties: false
          properties:
            p256dh:
              type: string
              maxLength: 1024
              description: Base64/base64url uncompressed P-256 public key; decodes to exactly 65 bytes.
            auth:
              type: string
              maxLength: 1024
              description: Base64/base64url Web Push authentication secret; decodes to exactly 16 bytes.
        expirationTime:
          type: [number, "null"]
        userId:
          type: string
          maxLength: 255
        channelId:
          type: string
          maxLength: 255
        metadata:
          type: object
    SendNotificationRequest:
      type: object
      required: [payload]
      additionalProperties: false
      properties:
        payload:
          type: object
          required: [title]
          properties:
            title:
              type: string
            body:
              type: string
            icon:
              type: string
            badge:
              type: string
            image:
              type: string
            url:
              type: string
            data:
              type: object
            actions:
              type: array
              items:
                type: object
            tag:
              type: string
            requireInteraction:
              type: boolean
            silent:
              type: boolean
        userId:
          type: string
        channelId:
          type: string
        subscriptionIds:
          type: array
          items:
            type: string
