openapi: 3.1.0
info:
  title: vapid.party API
  version: 2.0.0
  description: |
    Cloudflare Web Push relay with public XMTP-aware registration endpoints for Converge.

    Success responses are wrapped in `{ success, data }`.
    Error responses are wrapped in `{ success: false, error, code, details? }`.

    Converge XMTP registration endpoints are public and must not require a client API key.
servers:
  - url: https://vapid.party
  - url: http://localhost:8787
tags:
  - name: Health
  - name: Converge XMTP
  - name: Apps
  - name: Generic Push
paths:
  /api/health:
    get:
      tags: [Health]
      summary: Health check
      responses:
        "200":
          description: OK
  /api/xmtp/vapid-public-key:
    get:
      tags: [Converge XMTP]
      summary: Get Converge public VAPID key
      description: Public endpoint. Does not require a client secret or X-API-Key.
      security: []
      responses:
        "200":
          description: Public VAPID key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VapidPublicKeyResponse"
        "503":
          description: Converge VAPID app is not configured
  /api/xmtp/subscriptions:
    post:
      tags: [Converge XMTP]
      summary: Register or update a Converge XMTP push subscription
      description: |
        Public endpoint. Idempotent upsert keyed by push endpoint, inboxId, and installationId.
        The request must include topic/HMAC metadata and privacy-preserving preferences.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XmtpSubscriptionRequest"
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XmtpSubscriptionResponse"
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XmtpSubscriptionResponse"
        "422":
          description: Validation error
    delete:
      tags: [Converge XMTP]
      summary: Disable a Converge XMTP push subscription
      description: Public best-effort unsubscribe/update endpoint.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XmtpDeleteSubscriptionRequest"
      responses:
        "200":
          description: Disabled or already absent
  /api/register-app:
    post:
      tags: [Apps]
      summary: Register a generic push app
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterAppRequest"
      responses:
        "201":
          description: Created
  /api/apps:
    get:
      tags: [Apps]
      summary: List wallet-owned apps
      security:
        - BearerAuth: []
      responses:
        "200":
          description: OK
  /api/apps/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Apps]
      summary: Get an app
      security:
        - BearerAuth: []
      responses:
        "200":
          description: OK
    put:
      tags: [Apps]
      summary: Update an app
      security:
        - BearerAuth: []
      responses:
        "200":
          description: OK
    delete:
      tags: [Apps]
      summary: Delete an app
      security:
        - BearerAuth: []
      responses:
        "200":
          description: OK
  /api/apps/{id}/regenerate-key:
    post:
      tags: [Apps]
      summary: Regenerate a generic app API key
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/vapid/public-key:
    get:
      tags: [Generic Push]
      summary: Get generic app public VAPID key
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Public VAPID key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VapidPublicKeyResponse"
  /api/subscribe:
    post:
      tags: [Generic Push]
      summary: Register a generic Web Push subscription
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubscribeRequest"
      responses:
        "201":
          description: Created or updated
  /api/send:
    post:
      tags: [Generic Push]
      summary: Queue generic Web Push notifications
      description: Actual delivery occurs in the Cloudflare Queue consumer.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendNotificationRequest"
      responses:
        "202":
          description: Queued
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
  schemas:
    ApiEnvelope:
      type: object
      required: [success]
      properties:
        success:
          type: boolean
        data: {}
        error:
          type: string
        code:
          type: string
        details: {}
    VapidPublicKeyResponse:
      allOf:
        - $ref: "#/components/schemas/ApiEnvelope"
        - type: object
          properties:
            data:
              type: object
              required: [publicKey]
              properties:
                publicKey:
                  type: string
    PushSubscription:
      type: object
      required: [endpoint, keys]
      additionalProperties: false
      properties:
        endpoint:
          type: string
          format: uri
        keys:
          type: object
          required: [p256dh, auth]
          additionalProperties: false
          properties:
            p256dh:
              type: string
            auth:
              type: string
        expirationTime:
          type: integer
          nullable: true
    XmtpTopic:
      type: object
      required: [topic, hmacKey]
      additionalProperties: false
      properties:
        topic:
          type: string
        hmacKey:
          type: string
        algorithm:
          type: string
          enum: [hmac-sha256, sha256]
          default: hmac-sha256
        conversationId:
          type: string
          description: Safe non-content metadata only.
    XmtpSubscriptionRequest:
      type: object
      required: [inboxId, installationId, preferences]
      additionalProperties: false
      properties:
        subscription:
          $ref: "#/components/schemas/PushSubscription"
        endpoint:
          type: string
          format: uri
        keys:
          type: object
          required: [p256dh, auth]
          additionalProperties: false
          properties:
            p256dh:
              type: string
            auth:
              type: string
        expirationTime:
          type: integer
          nullable: true
        inboxId:
          type: string
        installationId:
          type: string
        address:
          type: string
        topics:
          type: array
          items:
            $ref: "#/components/schemas/XmtpTopic"
        hmacKeys:
          description: Object map of topic to HMAC key or array of XmtpTopic.
        preferences:
          type: object
          required: [minimalPayloadOnly, plaintextPreview]
          additionalProperties: false
          properties:
            minimalPayloadOnly:
              type: boolean
              const: true
            plaintextPreview:
              type: boolean
              const: false
    XmtpSubscriptionResponse:
      allOf:
        - $ref: "#/components/schemas/ApiEnvelope"
        - type: object
          properties:
            data:
              type: object
              required: [subscriptionId, identityId, topicsRegistered, created]
              properties:
                subscriptionId:
                  type: string
                identityId:
                  type: string
                topicsRegistered:
                  type: integer
                created:
                  type: boolean
    XmtpDeleteSubscriptionRequest:
      type: object
      required: [endpoint, inboxId, installationId]
      additionalProperties: false
      properties:
        endpoint:
          type: string
          format: uri
        inboxId:
          type: string
        installationId:
          type: string
    RegisterAppRequest:
      type: object
      required: [name]
      additionalProperties: false
      properties:
        name:
          type: string
        metadata:
          type: object
    SubscribeRequest:
      allOf:
        - $ref: "#/components/schemas/PushSubscription"
        - type: object
          properties:
            userId:
              type: string
            channelId:
              type: string
            metadata:
              type: object
    SendNotificationRequest:
      type: object
      required: [payload]
      additionalProperties: false
      properties:
        payload:
          type: object
          required: [title]
          additionalProperties: false
          properties:
            title:
              type: string
            body:
              type: string
            icon:
              type: string
            badge:
              type: string
            image:
              type: string
            url:
              type: string
            data:
              type: object
            actions:
              type: array
              items:
                type: object
            tag:
              type: string
            requireInteraction:
              type: boolean
            silent:
              type: boolean
        userId:
          type: string
        channelId:
          type: string
        subscriptionIds:
          type: array
          items:
            type: string
